# dependencies
node_modules/

# environment / secrets
.env
.env.*
!.env.example

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios
/android
.kotlin/

# Native secrets / certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# misc
*.orig.*
app-example